.container {
    background: url(../src/fonImgList.jpg);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contant { 
    min-height: 100vh;
    max-width: 50%;
    background-color: white;
    margin: auto;
    text-align: center;
}

.inputForSearchName {
    max-width: 20%;
}
.cardHeader {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
.headerName{
    width: 70%;
}
.closedHeader {
    color: black;
    width: 30%;
}
.blockNameAndSpec {
    
}
.sectorBase {
    margin: 2rem;
    font-size: 1.5rem;
    text-align:start;
}
.blockImgName {
    display: flex;
}